body {
	min-width: 960px;
	font-family: Calibri, sans-serif;
	margin: 0 0;
	background: #F0F0F0;
}
.header {
	background: #E50039;
	margin: 0 auto;
	padding-top: 70px;
}
.header .header__wrapper {
	width: 960px;
	margin: 0 auto 50px;
	padding-bottom: 50px;
	border-bottom: 2px solid #F7075A;
}
.header .header__logo {
	width: 192px;
	height: 250px;
	margin: 0 75px;
	float: left;
	text-decoration:none;
}
.header .content__title {
	color:white;
	font-size:25px;
	padding-bottom: 65px
}
.header .info-button {
	border: 2px solid white;
	border-radius:5px;
	padding:15px 25px;
	text-decoration:none;
	background: #E50039;
	font-size:25px;
	color:white;
	cursor:pointer;
	display: inline-block;
}

.header .info-button:hover {
	background: white;
	color: #F7075A;
	border: 2px solid red ;
	list-style-type: disc;
	-webkit-transition:  0.5s;;
	-moz-transition:  0.1s;;
	-o-transition: 0.1s;;
	transition: 0.5s;;
}
.header .header__section {
	margin: 0 auto;
	width: 960px;
	padding-bottom: 65px;
}
.header__section:after {
	content: '';
	clear: both;
	display: table;
}
.header .section__text {
	width: 345px;
	font-size: 20px;
	color: white;
	text-align: right;
	float:left;
	margin-right:60px;
	line-height: 25px;
}
.header .section__info {
	font-size: 20px;
	line-height: 25px;
	color: white;
}

.navigation-menu {
	height: 458px;
	margin: 0 auto;
	font-size: 20px;
	color: white;
	background-image: url("backgraund.jpg");
	background-repeat: no-repeat;
	background-size: cover;

	padding: 50px 0 0;
}
.navigation-menu .title-menu {
	width: 960px;
	margin: 0 auto 30px;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
}
.navigation-menu .navigation-menu__wraper {
	width: 960px;
	margin: 0 auto;
	list-style-type: none;
}
.navigation-menu .navigation-menu__wraper:after {
    content:'';
    clear: both;
	display: table;
}
.navigation-menu .navigation-menu__col1 {

	margin: 0 120px 0 0;
	float: left;
	line-height: 45px;
	list-style-position: inherit;
}
.navigation-menu__col1 .navigation-menu--one {
	border-radius: 50px;
	background: #FF0000;
	padding: 3px 12px;
}
.navigation-menu__col1 .navigation-menu--two {
	border-radius: 50px;
	background: #009DFC;
	padding: 3px 12px;
}
.navigation-menu__col1 .navigation-menu--three {
	border-radius: 50px;
	background: #B78FFF;
	padding: 3px 12px;
}
.navigation-menu__col1 .navigation-menu--four {
	border-radius: 50px;
	background: #DDCC00;
	padding: 3px 12px;
}

.navigation-menu .navigation-menu__col2 {
	margin: 0 auto;
	float: left;
	line-height: 45px;

}
.navigation-menu__col2 .navigation-menu--five {
	border-radius: 50px;
	background: #007EF1;
	padding: 3px 12px;
}
.navigation-menu__col2 .navigation-menu--six {
	border-radius: 50px;
	background: #00C300;
	padding: 3px 12px;
}
.navigation-menu__col2 .navigation-menu--seven {
	border-radius: 50px;
	background: #00BFA7;
	padding: 3px 12px;
}
li {
	list-style-type: none;
}
.content {
	color: #5E5E5E;
}

.content .content__wraper {
    margin: -70px auto 0;
    width: 960px;
    background: white;
    color: #5E5E5E;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    border-radius: 5px 5px;
    padding: 40px 0 0;
}
.content .content__text {
    padding-bottom: 60px;
}

.content .program-information__wraper {
    width: 960px;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    padding: 40px 0 35px;
}
.content .program-information__title {
	margin-bottom: 35px;
}
.content .line {
	width: 115px;
	margin-bottom: 35px;
}
.content .program-information__text {
	font-size: 15px;
	line-height: 25px;
}
.content .program-information__row {
	width: 960px;
	margin: 0 auto 50px;
}
.content .program-information__row:after {
	content: '';
	clear: both;
	display: table;
}
.content .program-information__col1 {
	float: left;
}
.content .program-information__col2 {
	float: right;
}
.content .content__target {
	margin: 0 auto 50px;
	width: 960px;
	text-align: center;
	font-size: 20px;
	line-height: 30px;
	background: white;
	padding: 45px 0 55px 0;
	border-radius: 5px;
}

.content .content__location {
	text-align: center;
	margin: 0 auto 55px;
	padding: ;
	font-size: 20px;
	line-height: 30px;
	width: 960px;
}
.content .content__when {
	width: 960px;
	background: white;
	text-align: center;
	margin: 0 auto 55px;
	padding: 30px 0 55px 0;
	font-size: 20px;
	line-height: 30px;
	border-radius: 5px;
}
.content .form-training__wraper {
	margin: 0 auto;
	text-align: center;
	font-size: 20px;
	line-height: 30px;
}
.content .form-training__title {
	margin-bottom: 30px;
}
.content .content__form-training {
	margin:0 auto 60px;
	width: 960px;
}
.content .form-training__row {
	font-size: 15px;
	line-height: 25px;
	margin:0 auto;
}
.content .form-training__row:after {
	content: '';
	clear: both;
	display: table;
}
.content .form-training__col1 {
	float: left;
}
.content .form-training__col2 {
	float: right;
}

.content .content__advant {
	width: 960px;
	margin: 0 auto;
	font-size: 20px;
	line-height: 30px;
	background: white;
	border-radius: 5px;
	text-align: center;
	padding: 40px 0;
}

.footer .mailto {
	color: #068AE8;
	font-size: 27px;
}
.footer .footer__contact {
	background: #F0F0F0;
	text-align: center;
	font-size: 27px;
	padding: 40px 0 150px;
	margin: 0 auto;
}
.footer .footer__Copyrighted {
	background: black;
	color: #727272;
	font-size: 20px;
	text-align: center;
	padding: 28px 0;
}
.info-button {
	border: 2px solid white;
	border-radius:5px;
	padding:15px 25px;
	text-decoration:none;
	background: #E50039;
	font-size:25px;
	color:white;
	cursor:pointer;
	margin: 0 auto;
	display: inline-block;
}
.info-button:hover {
	background: white;
	color: #F7075A;
	border: 2px solid red;
	list-style-type: disc;
	-webkit-transition: 0.5s;;
	-moz-transition: 0.1s;;
	-o-transition: 0.1s;;
	transition: 0.5s;;
}
.footer .Information-booklet {
	padding-top: 60px;
	background:#E50039;
	text-align: center;
}
.footer .download-booklet {
	color: white;
	font-size: 20px;
	margin:0 auto 20px;
}
.footer .booklet-col {
	padding-top: 50px;
}
.footer .pdf {
	color:#FB0051 ;
	display: block;
	padding-bottom: 55px;
}
.boreder { text-decoration: none;
	border-bottom: 2px dotted white;
	color: white;
	font-size: 20px;
	margin-left: 15px;
}
.style {
	text-decoration: none;
	border-bottom: 2px dotted #1EA0E9;
	color: #1EA0E9;
}
.text__title {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 35px;
}
.decoration {
	color: black;
}


